environment.name = '${ENVIRONMENT_NAME}'
environment.base_url = '${ENVIRONMENT_BASE_URL}'
environment.root_path = '${ENVIRONMENT_ROOT_PATH}'

email.host = '${EMAIL_HOST}'
email.port = '${EMAIL_PORT}'
email.username = '${EMAIL_USERNAME}'
email.password = '${EMAIL_PASSWORD}'
email.from = '${EMAIL_FROM}'

database.hostname = '${DATABASE_HOSTNAME}'
database.port = '${DATABASE_PORT}'
database.username = '${DATABASE_USERNAME}'
database.password = '${DATABASE_PASSWORD}'
database.name = '${DATABASE_NAME}'
